# For development copy over to .env file
# For production export system variables
# Take not that `npm run start` is for production and may ignore the .env file

GRAPHQL_API=http://localhost:3000/graphql
PORT=8080